* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

div {
	border: 1px solid black
}
#loginBtn{
	background-color: #1ec8c550;
}
#logo {
	width: 100%;
	height: 50px;
	margin: auto;
	background-color: ghostwhite;
}

.navbar, .navbar-nav{
	background-color: #ffcd9050 !important;
}

#article-img {
	width: 100%;
	height: 100px;
	margin: auto;
	background-color: ghostwhite;
}

#footer>div {
	height: 100%;
}

#footer-logo>div {
	height: 100%;
	background-color: ghostwhite;
}

#footer-contents {
	font-size: 8pt;
}

.nav-item {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.navbar-nav {
	width: 100%;
}